body {
    font-family: "微軟正黑體";
}

.breadcrumb-sec {
    max-width: 1140px;
    margin: auto;
    padding: 30px;
}

.breadcrumb-item>li {
    display: inline-block;
    padding: 0 3px;
    font-weight: lighter;
}

.breadcrumb-item>li>a {
    list-style-type: none;
    text-decoration: none;
    font-size: .9em;
    font-weight: normal;
}

.forgetpassword {
    /* background-color: rgb(207, 255, 180); */
    /* height: 400px; */
    text-align: center;
    margin: auto;
}

.title {
    width: 40%;
    line-height: 30px;
    margin: auto;
    background-color: #FEDC5E;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: .1em;
    padding: 10px;
}

.input-mail {
    width: 40%;
    margin: auto;
    border-bottom: 1px solid rgb(173, 173, 173);
    text-align: left;
    padding: 60px 0 2px 0;
    /* background-color: rgb(202, 203, 255); */
}

.input-mail>p {
    font-size: 0.05em;
    letter-spacing: 1px;
    margin: 0;
    color: #aaaaaa;
    font-weight: 100;
}

.submit-btn {
    background-color: rgb(255, 59, 59);
    width: 20%;
    border: none;
    border-radius: 4px;
    padding: 14px 0;
    font-size: 14px;
    font-weight: normal;
    color: white;
    outline: none;
    margin-top: 40px;
    box-shadow: 1px 2px 4px rgb(180, 179, 179);
}

.deepred {
    background-color: rgb(218, 0, 0);
    color: rgb(43, 43, 43);
}