body {
    background-color: #FFFBED;
}

.product_container {
    max-width: 1140px;
    /* width: 100%; */
    margin: auto;
    padding: 0px 30px;
}

.preview {
    display: flex;
    border-bottom: 3px solid #fedc5e;
    padding-bottom: 5%;
    margin-top: 50px;
}

.preview>.preview_photo {
    width: 50%;
}

.preview>.preview_photo>img {
    /* background-color: white; */
    padding: 5px;
    margin: 15px;
    width: 80%;
}

.preview>.preview_content {
    width: 100%;
}

.preview_content>.preview_text>.text01 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 5%;
}

.preview_content>.preview_text>.text02 {
    margin: 15px;
    margin-bottom: 0.5%;
    margin-left: 4%;
}

.preview_content>.preview_text>.text03 {
    margin: 15px;
    font-weight: 500;
    margin-top: 3%;
    margin-bottom: 9%;
    margin-left: 4%;
}

.preview_button {
    margin-bottom: 10%;
    display: flex;
    /* justify-content: space-around; */
    margin-left: 4%;
}

/* .qty-input>.less,
.qty-input>.more {
    color: #454545;
    width: 50px;
    line-height: 40px;
    background: none;
}

.qty-input {
    height: 40px;
    margin-left: 15px;
    border: none;
    margin-bottom: 20px;
    display: flex;
}

.qty-input div {
    cursor: pointer;
    font-family: serif;
    height: 40px;
    line-height: 40px;
    text-align: center;
    user-select: none;
    transition: all 150ms ease-out;
    width: 15%;
    min-width: 20px;
}

.qty-input>input {
    width: 150px;
    border: .5px solid #c4c4c4;
    background: none;
    font-size: .8rem;
    text-align: center;
    outline: none;
    color: #454545;
    font-weight: 500;
} */

.qty-input {
    margin-left: 4%;
    border: 1px solid #353535;
    border-radius: 20px;
    height: 40px;
    width: 24%;
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    overflow: hidden;
}
.qty-input div {
    cursor: pointer;
    font-family: serif;
    height: 40px;
    line-height: 40px;
    text-align: center;
    user-select: none;
    transition: all 150ms ease-out;
    width: 20%;
    background-color: #FFFBED;
}                  
input {
    width: 50%;
    border: 0px solid;
    border-left: 1px solid #353535;
    border-right: 1px solid #353535;
    font-size: 20px;
    text-align: center;
    outline: none;
    background-color: #FFFBED;
}
.add_to_cart{
    margin-left: 5%;
    /* border: 1px solid #353535; */
    border-radius: 20px;
    line-height: 40px;
    width: 130px;
    text-align: center;
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;
    background-color: #007f4e;
    color:white;
}
.add_to_cart:hover{
     background-color: #353535; 
     color:white; 
}






.product_container>.preview>.preview_content>.preview_button>.purchase_button {
    width: 20%;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #007f4e;
    border-radius: 8px;
    margin-left: 4%;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
}

.purchase_button a {
    color: white;
    display: block;
}

.product_description>.paragraph {
    padding: 30px;
    width: 90%;
    margin: auto;
    /* margin-top: 20px; */
}

.product_description>.paragraph>span {
    line-height: 70px;
}

.product_description>.paragraph>.product_title {
    display: flex;
    justify-content: space-between;
}

.product_description>.paragraph>.product_title>.text04 {
    font-size: 1.6em;
    font-family: 'Noto Serif TC', serif;
    letter-spacing: 0.1em;
}

.product_description>.paragraph>.product_title>.footprint {
    width: 20%;
}

.product_description>.paragraph>.text05 {
    font-size: 1em;
    letter-spacing: 0.05em;
    /* font-weight: bold; */
    line-height: 40px;
    /* margin-top: 40px; */
}

.product_description>.product_img {
    width: 90%;
    margin: 0 auto;
}

.product_description>.product_img img {
    width: 100%;
    /* margin: 0 auto; */
}

.product_container>.product_return {
    padding-top: 5%;
    padding-bottom: 5%;
}

.product_container>.product_return>.return_button {
    width: 11%;
    height: 30px;
    /* font-weight: bold; */
    color: white;
    background-color: #007f4e;
    border-radius: 8px;
    margin-left: 82%;
    text-align: center;
    line-height: 30px;
}

.product_return>.return_button a {
    color: white;
    text-decoration: none;
    display: block;
    font-weight: normal;
}
.text01 .text01_description {
    /* padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px; */
    display: none;
}
@media screen and (max-width:768px) {
    .product_container>.preview {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid #fedc5e;
        padding-bottom: 5%;
    }
    .product_container>.preview>.preview_photo {
        width: 80%;
        margin: 0 auto;
    }
    .preview_button {
        /* margin-bottom: 10%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .qty-input {
        margin-top: 20px;
    }
    .product_container>.preview>.preview_content>.preview_button>.purchase_button {
        width: 60%;
    }
    .product_description>.paragraph>.product_title>.footprint>img {
        width: 150%;
        margin-left: 350%;
    }
    .preview_content>.preview_text>.text01 {
        flex-direction: column;
        margin: 10px;
        font-weight: bold;
        margin-bottom: 2%;
        margin-left: 11%;
    }
    .preview_content>.preview_text>.text01>.flavor {
        margin-left: 4%;
        line-height: 32px;
    }
    .qty-input {
        margin-left: 14%;
    }
    .preview_content>.preview_text>.text01>.text01_description {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        display: block;
    }
    .web_title{
        display: none;
    }
    .preview_content>.preview_text>.text02 {
        margin: 10px;
        font-weight: 500;
        margin-bottom: 2%;
        margin-left: 14%;
        line-height: 24px;
    }
    .preview_content>.preview_text>.text03 {
        margin: 10px;
        font-weight: bold;
        margin-bottom: 2%;
        margin-left: 14%;
    }
    .product_container>.preview>.preview_content>.preview_button>.purchase_button {
        margin-left: 14%;
    }
    .preview {
        /* padding: 5%; */
        margin: auto;
    }
    .product_description>.paragraph>.product_title {
        /* padding-bottom: 25%; */
        position: relative;
    }
    .product_description>.paragraph>.product_title>.text04 {
        position: absolute;
    }
    .product_description>.paragraph>.text05 {
        /* display: none; */
        padding-top: 20px;
    }
    .product_container>.product_return {
        width: 80%;
        margin: auto;
    }
    .product_container>.product_return>.return_button {
        width: 20%;
        line-height: 30px;
        margin-right: 0;
    }
    .product_return>.return_button a {
        color: white;
        text-decoration: none;
        display: block;
        font-weight: normal;
    }
}